# Visual Studio
.vs/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
.vsconfig

# Compiled objects and binaries
*.obj
*.o
*.gch
*.pch
*.so
*.dll
*.dylib
*.exe
*.out
*.lib
*.a
*.la
*.lai

# Xcode
*.xcodeproj
*.xcworkspace

# Unreal Engine Generated Folders
Binaries/
Plugins/**/Binaries/
Build/*
!Build/*/
Build/*/**
!Build/*/PakBlacklist*.txt
!Build/**/*.ico

Intermediate/
Plugins/**/Intermediate/
DerivedDataCache/
Saved/

# Source art
SourceArt/**/*.png
SourceArt/**/*.tga

# Built map data and Unreal assets
*_BuiltData.uasset
*.uasset
*.umap

# Keep only C++ source files
!Source/
!Source/**/*.h
!Source/**/*.cpp
